<ion-header>
	<ion-toolbar color="light">
		<ion-title>Authentication </ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="background">

	<ion-grid>
		<ion-row>
			<ion-col size-sm=6 offset-sm=3>
				<div *ngIf="authService.uid | async as uid;else login">
					user is logged in {{uid}}
					<button (click)="authService.logOut()">logout</button>
				</div>
				<ng-template #login>
					<ion-text>
						<ion-button (click)="authService.login()" color="primary" expand="block">Login with google Account </ion-button>
					</ion-text>	

					<ion-text>
							<ion-button (click)="authService.login()" color="primary" expand="block">Login with google Account </ion-button>
						</ion-text>	
				</ng-template>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>