<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>locator</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-item>
    <ion-label position="floating">Enter Work Location</ion-label>
    <ion-input type="text" name="workLocationauto" [(ngModel)]="workLocationauto"
      (keyup)="autocomplatePridiction($event, 'work')"></ion-input>
  </ion-item>

  <ion-item *ngFor="let prediction of werkPridiction | async"
    (click)="setLocation(prediction.description,prediction.place_id, 'workpre', 'work')">
    <div> {{prediction.description}} </div>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Enter Home Location</ion-label>
    <ion-input type="text" id="homesearchBox" name="homeLocationauto" [(ngModel)]="homeLocationauto"
      (keyup)="autocomplatePridiction($event, 'home')"></ion-input>
  </ion-item>

  <ion-item *ngFor="let prediction of homePridiction | async"
    (click)="setLocation(prediction.description,prediction.place_id, 'homepre', 'home')">
    <div> {{prediction.description}} </div>
  </ion-item>

  <ion-button type="submit" color="primary" expand="block" (click) ="this.navigateHome()" [disabled]="(!placesservice.workLocationData.length) || (!placesservice.homeLocationData.length)">
    Search
  </ion-button>
</ion-content>