.text-right{
    text-align: right;
}

ion-grid.ion-no-margin.ion-no-padding.md.hydrated{
  height: 100%;
}
ion-card{
  // background: rgba(0, 0, 0, 0.51);
  padding: 40px 0;
  box-shadow: none;
  margin: 0;
}
ion-card-subtitle,ion-card-title{
  color: #ffffff;
  font-size: 20px;
}
ion-card-title{
  font-size: 50px;
}
ion-card-header.whiteColor{
  color: #ffffff; 
}
  .swiper-slide img{
    height: 200px;
  }