<ion-header>
	<ion-toolbar color="light">
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title>placeDetils</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="background">
	<ion-grid class="ion-no-margin ion-no-padding">
		<ion-row>
			<ion-col size-sm="6" offset-sm="3" *ngFor="let place of placesDetails">
				<ion-card>
						<ion-slides pager="true" [options]="slideOpts">
								<ion-slide *ngFor="let photo of place.photos">
										<img src="https://maps.googleapis.com/maps/api/place/photo?maxheight=400&photoreference={{photo.photo_reference}}&key={{apiKey}}"/>
									  </ion-slide>
							</ion-slides>


					
					<ion-card-header>
						<ion-card-title>{{place.name}}</ion-card-title>	
						<ion-card-subtitle>{{place.formatted_address}}</ion-card-subtitle>	  
					</ion-card-header>
					<ion-card-content>
											
						<div>
							<a href="{{place.website}}" target="_blank">website</a>
						</div>


							<div *ngIf="place.rating">
									<div class="star-ratings-css">
										<div class="star-ratings-css-top" [style.width.%]="place.rating/5*100">
											<span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
										</div>
										<div class="star-ratings-css-bottom">
											<span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
										</div>
									</div>
								</div>

					</ion-card-content>
					

				</ion-card>
				{{place.reference}}
				<ion-button (click)="addToFavorite(place)">Add to Favorite</ion-button>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>