<ion-app>
    <ion-menu contentId="content1" side="start" class="mainMenu">
        <ion-header class="mainMenu">
          <ion-toolbar>
            <ion-title>Welcome {{authService.userName}}</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content class="mainMenu">
          <ion-list>
            <ion-menu-toggle>
              <ion-item routerLink="/index" button>
                <ion-icon name="search" slot="start"></ion-icon>
                <ion-label>Navigator</ion-label>
              </ion-item>

              <ion-item routerLink="/favorite-palces" button>
                <ion-icon name="search" slot="start"></ion-icon>
                <ion-label>Your Favorite Places</ion-label>
              </ion-item>
              
              <ion-item (click)="authService.logOut()" button>
                <ion-icon name="book" slot="start"></ion-icon>
                <ion-label>Logout</ion-label>
              </ion-item>
    
            </ion-menu-toggle>
          </ion-list>
        </ion-content>
      </ion-menu>
  <ion-router-outlet  id="content1"></ion-router-outlet>
</ion-app>
