<ion-header>
  <ion-toolbar>
    <ion-title>Traffic</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card >
        <ion-card-header>
          
          <ion-card-subtitle>{{homeLocationText}}</ion-card-subtitle>
          <ion-card-subtitle>{{workLocationText}}</ion-card-subtitle>
        </ion-card-header>
    
        <ion-card-content *ngFor="let trafic of traficMasterData">
          <ion-label>
            Distance : {{trafic.rows[0].elements[0].distance.text}}
          </ion-label>
          <ion-label>
              Duration : {{trafic.rows[0].elements[0].duration.text}}
            </ion-label>
            <ion-label>
                Duration in Traffic : {{trafic.rows[0].elements[0].duration_in_traffic.text}}
              </ion-label>
        </ion-card-content>
      </ion-card>


</ion-content>
